.App {
  border: 1px solid black;
  background-color: lightblue;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.App > div {
  padding: 20px;
  margin: 20px;
  border: 10px solid black;
  border-radius: 20px;
  width: 300px;
  height: 200px;
  font-size: medium;
}

.colorButton {
  background-color: aqua;
  position: absolute;
  top: 75%;
  left: 62%;
  /**/
}

h1 {
  border: 3px solid black;
  border-radius: 5%;
  text-align: center;
  /*justify-content: center;*/
}
